
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #26bcc7;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    background-color: #6b70b931;
    text-align: center;
    padding: 2em;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 1em 2em;
    font-size: 1em;
    margin: 0.5em;
    cursor: pointer;
}

form {
    margin-top: 20px;
}
body, html {
    margin: 0;
    padding: 0;
    height:100%;
}

.background-image {
    /* Ajuste o caminho para a sua imagem e o valor de cover conforme necessário */
    background: url('./imagens/combate-fome-brasil.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
}
.content {
    text-align: center;
}

h1, p {
    margin: 0;
}